<div class="row">
  <div class="col-xs-3 col-md-3">
    <%= render partial: 'advisers/applicant_information_for_customer', locals: {applicant: @applicant} %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <% class1 = "" %>
        <% class1 = 'active' if params[:tab] == 'tab1' %>
        <% class2 = "" %>
        <% class2 = 'active' if params[:tab] == 'tab9' %>
        <% class3 = "" %>
        <% class3 = 'active' if params[:tab] == 'tab3' %>
        <% class1 = 'active' if (class1 == "" and class2 == "" and class3 == "") %>

        <li class="<%= class1 %>"><a href="#tab1" data-toggle="tab">مراحل راهنمایی متقاضی</a></li>
        <li class="<%= class2 %>"> <a href="#tab9" data-toggle="tab">آزمون‌های متقاضی</a></li>
        <li class="<%= class3 %>"> <a href="#tab3" data-toggle="tab">پیغام وضعیت متقاضی</a></li>
      </ul>

      <div class="tab-content">
        <div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>" id="tab1">
          <%= render partial: 'advisers/tasks_main', locals: {applicant: @applicant} %>
        </div>
        <div class="<%= if params[:tab] == 'tab9' then 'tab-pane active'  else 'tab-pane' end%>" id="tab9">
          <%= render partial: 'advisers/exams_list', locals: {applicant: @applicant} %>
        </div>
        <div class="<%= if params[:tab] == 'tab3' then 'tab-pane active'  else 'tab-pane' end%>" id="tab3">
          <%= render partial: 'advisers/adviser_message', locals: {applicant: @applicant} %>
        </div>
      </div>
    </div>
  </div>
</div>