<% if @exam_answer.status %>
<p>
	قبلا به این آزمون پاسخ داده‌اید!
</p>
<% else %>
<%= simple_form_for :answer, url: submit_answer_path(@exam_answer), html: {class: 'form-horizontal', role: 'form', onsubmit: "return validate_form();"} do |f| %>
<div class="contrainer exam">
	<% if @exam_answer.exam.name == 'آزمون هالند' %>
	<%= render partial: 'holand', locals: {f: f} %>
	<% else %> 
	<script type="text/javascript">
	function validate_form()
	{
		var radioButtons = $('input[type="radio"]');
		for(i = 0; i < radioButtons.length-1; i += <%= @exam_answer.exam.questions.first.choices.size %>) {
			var check = false;
			for(j = 0; j < <%= @exam_answer.exam.questions.first.choices.size %>; j++) {
				if(radioButtons[i+j].checked == true)
				{
					check = true;
					break;
				}
				
			}
			if(check)
				continue;

			alert("سوال شماره‌ی "+(Math.ceil(i/<%=@exam_answer.exam.questions.first.choices.size %>)+1).toString()+"خالی است. پرش کنید.");
			return false;
		}
		return true;
	}
</script>

	<% @exam_answer.exam.questions.each_with_index do |question,index| %>
	<% choices = question.choices %>
	<% if @exam_answer.exam.name == 'آزمون رضایت شغلی' %>
		<% case index %>
			<% when 0 %>
				<h3> شغل شما </h3>
				<br>
			<% when 22 %>
				<h3> مسئول مستقیم </h3>
				<br>
			<% when 36 %>
				<h3> همکار </h3>
				<br>
			<% when 47 %>
				<h3> ارتقا </h3>
				<br>
			<% when 54 %>
				<h3> حقوق و مزایا </h3>
				<br>
			<% when 63 %>
				<h3> شرایط کار در محیط فعلی </h3>
				<br>
		<% end %>
	<% end %>
	<p>
		<fieldset id="question<%=index%>">
			<legend><b><%= index+1 %>. </b><%= question.content%></legend>
			<%= f.collection_radio_buttons(
				"#{index}" ,choices.each_with_index.map { |choice,index| [index,choice.content]}, :first, :last
				) do |b|
				b.label { b.radio_button + b.text}
			end
			%>
		</fieldset>
	</p>
	<br>
	<% end %>
	<% end %>
</div>
<%= f.submit 'ثبت', class: 'btn btn-success' %>
<% end %>
<% end %>