<%= render partial: 'normal_profile_div' %>

<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<% class1 = "" %>
		<% class1 = 'active' if params[:tab] == 'tab1' %>
		<% class2 = "" %>
		<% class2 = 'active' if params[:tab] == 'tab9' %>
		<% class1 = 'active' if (class1 == "" and class2 == "") %>

		<li class="<%= class1 %>"><a href="#tab1" data-toggle="tab">لیست متقاضیان تحت نظر</a></li>
		<li class="<%= class2 %>"> <a href="#tab9" data-toggle="tab">اضافه کردن متقاضی</a></li>
	</ul>

	<div class="tab-content">
		<div class="<%= if (params[:tab] == 'tab1' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>" id="tab1">
			<%= render partial: 'customers_list' %>
		</div>
		<div class="<%= if params[:tab] == 'tab9' then 'tab-pane active'  else 'tab-pane' end%>" id="tab9">
			<%= render partial: 'search' %>
		</div>
	</div>
</div>